*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

/vendor/
/node_modules/
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/public/storage
.env
.env.*.local
.idea/
.vscode/
.phpunit.cache
.php-cs-fixer.cache
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
/docker/mysql/*  # もし手元でデータ置いてたら
/dbdata/         # compose の volume をローカルにマウントするなら
